// Colores
$verde-claro: #4CB8B3;
$verde: #3B9691;
$azul-claro: #36A0FB;
$cafe-claro: #D32C30;
$amarillo-claro: #FEF46D;
$amarillo: #FEF03A;
$rosado: #F53756;

//Fuentes
$ReggaeOne : 'Reggae One', cursive;
$Comfortaa: 'Comfortaa', cursive;
$Staatliches: 'Staatliches', cursive;
$Shippori: 'Shippori Mincho B1', serif;
